@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
    background: whitesmoke;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    padding: 30px;
    width: min(500px + 10%, 800px);
    border-radius: 4px;
    overflow: hidden;
}

h1 {
    /*

      font-size: clamp(14px, 3em, 4rem);

Asumiendo que 1em = 10px, 3em = 10px * 3 = 30px
y que 1rem = 16px, 4rem = 16px * 4 = 64px
Lo transformaríamos en

    font-size: clamp(14px, 30px, 64px);

Aplicando la fórmula lo volveríamos a transformar en

    font-size: max(14px, min(30px, 64px))
    font-size: max(14px, 30px);
    font-size: 30px;

clamp(MIN, VAL, MAX) se resuelve como max(MIN, min(VAL, MAX))
     */

    /* Aseguramos que el valor de un texto nunca pueda ser menor que 18px */
    font-size: clamp(18px, (1rem + 1vw) * 1.25, 3rem);
    color: orange;
}

p {
    /* Aseguramos que el valor de un texto nunca pueda ser menor que 12px */
    font-size: clamp(12px, (1rem + 1vw) * .5, 1.25rem);
    color: black;
    width: min(500px + 10%, 800px);
}